// Other elements for footer
#footer {
	background: $white;
	border-top: 1px solid rgba(0,0,0,0.15);
	padding: 30px 0;

	.text-color-black {
		margin-bottom: 10px;
	}

	a {
		@include transition(all .1s linear);
		color: $gray;

		&:hover {
			color: $black;
			margin-left: 5px;
		}
	}
}

// Copyright text area
footer {
	background: $white;
	border-top: 1px solid rgba(0,0,0,0.15);
	color: $gray;
	font-size: 0.8em;
	padding: 8px;
}