#atomicodes {
	@include elementSize(100%, 100vh);
	position: relative;

	&::after {
		@include pseudoElement("", absolute, -100px, 0);
		@include elementSize(100px, 100px);
		border-right: 100vw solid transparent;
		border-bottom: 100px solid $white;
	}
}