#newsletter {
	@include gradientBackground(45deg, $green 0%, $blue 100%);
	@include elementSize(100%, 135.5px);
	padding: 40px 0;
	position: relative;

	// Title*
	h2 {
		color: $white;
		font-size: 1.65em;
		line-height: 26px;

		small {
			font-size: 0.6em;
		}
	}

	// Form fields
	form {
		.field {
			margin-top: 10px;

			input {
				background: transparent;
				border-color: $white;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				padding-left: 15px;
				color: $white;

				&:hover {
					border-color: $white;
				}
			}

			button {
				@include transition(all .2s ease);
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-color: $white;
				color: $blue;
				text-transform: uppercase;

				&:hover {
					background: $blue;
					color: $white;
				}
			}
		}
	}
}