section#footer
	div.container
		div.columns
			//- First group of columns
			div.column.is-two-thirds
				div.columns
					//- Logo column
					div.column
						include components/logo

					//- Links column
					div.column
						p.text-uppercase.text-bold.text-color-black(data-portuguese="Sobre nós" data-english="About us") About us

						p.link
							a(href="#atomicodes" data-portuguese="A Atomicodes" data-english="Atomicodes") Atomicodes
						p.link
							a(href="#atomicodes" data-portuguese="Nossa equipe" data-english="Our team") Our team
						p.link
							a(href="#contact" data-portuguese="Trabalhe conosco" data-english="Work with us") Work with us

					div.column
						p.text-uppercase.text-bold.text-color-black(data-portuguese="Produtos" data-english="Products") Products
						
						p.link
							a(href="javascript:void(0)" data-portuguese="Sistema ERP" data-english="ERP System") ERP System
						p.link
							a(href="javascript:void(0)" data-portuguese="Aplicativos" data-english="APP Development") APP Development
						p.link
							a(href="javascript:void(0)" data-portuguese="Sistema sob medida" data-english="Custom system") Custom system
						p.link
							a(href="javascript:void(0)" data-portuguese="Website sob medida" data-english="Custom website") Custom website
						p.link
							a(href="javascript:void(0)" data-portuguese="Blog sob medida" data-english="Custom blog") Custom blog
						p.link
							a(href="javascript:void(0)" data-portuguese="Outros produtos" data-english="Other products") Other products

					div.column
						p.text-uppercase.text-bold.text-color-black(data-portuguese="Social" data-english="Social") Social

						p.link
							a(href="facebook.com/atomicodes" rel="noopener nofollow" target="_blank") Facebook
						p.link
							a(href="twitter.com/atomicodes" rel="noopener nofollow" target="_blank") Twitter
						p.link
							a(href="instagram.com/atomicodes" rel="noopener nofollow" target="_blank") Instagram
						p.link
							a(href="github.io/atomicodes" rel="noopener nofollow" target="_blank") Github
						p.link
							a(href="behance.com/atomicodes" rel="noopener nofollow" target="_blank") Behance
					
			//- Second group of columns
			div.column
				div.vertical-separator

footer
	div.container
		p(class="has-text-centered" data-portuguese="2017 &copy; Atomicodes - Rua Lorem 100, 11° andar - Faria Lima - CEP: 12345-678 - São Paulo - SP" data-english="2017 &copy; Atomicodes - Rua Lorem 100, 11 floor - Faria Lima - ZIP/Postal Code: 12345-678 - São Paulo - SP") 2017 &copy; Atomicodes - Rua Lorem 100, 11° andar - Faria Lima - CEP: 12345-678 - São Paulo - SP