footer
	div.container
		div.columns
			div.column.is-two-thirds
				div.columns
					div.column
						include components/logo

					div.column
						p(class="text-uppercase text-bold" data-portuguese="Sobre nós" data-english="About us") About us
						a(href="#atomicodes" data-portuguese="A Atomicodes <br>" data-english="Atomicodes <br>") Atomicodes <br>
						a(href="#atomicodes" data-portuguese="Nossa equipe <br>" data-english="Our team <br>") Our team <br>
						a(href="#contact" data-portuguese="Trabalhe conosco" data-english="Work with us") Work with us

					div.column
						p(class="text-uppercase text-bold" data-portuguese="Produtos" data-english="Products") Products
						a(href="javascript:void(0)" data-portuguese="Sistema ERP <br>" data-english="ERP System <br>") ERP System <br>
						a(href="javascript:void(0)" data-portuguese="Aplicativos <br>" data-english="APP Development <br>") APP Development <br>
						a(href="javascript:void(0)" data-portuguese="Sistema sob medida <br>" data-english="Custom system <br>") Custom system <br>
						a(href="javascript:void(0)" data-portuguese="Website sob medida <br>" data-english="Custom website <br>") Custom website <br>
						a(href="javascript:void(0)" data-portuguese="Blog sob medida <br>" data-english="Custom blog <br>") Custom blog <br>
						a(href="javascript:void(0)" data-portuguese="Outros produtos" data-english="Other products") Other products

					div.column
						p(class="text-uppercase text-bold")
							a(href="#home" data-portuguese="Inicio" data-english="Home") Home
						p(class="text-uppercase text-bold")
							a(href="#atomicodes" data-portuguese="Atomicodes" data-english="Atomicodes") Atomicodes
						p(class="text-uppercase text-bold")
							a(href="#atomicodes" data-portuguese="Clientes" data-english="Clients") Clients
						p(class="text-uppercase text-bold")
							a(href="/blog" data-portuguese="Blog" data-english="Blog") Blog
						p(class="text-uppercase text-bold")
							a(href="#contact" data-portuguese="Contato" data-english="Contact") Contact



			div.column
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam velit quia, aliquid enim quis, non beatae recusandae magnam accusamus odit. Accusantium laboriosam adipisci minima ab hic earum praesentium est.

			div.column
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam velit quia, aliquid enim quis, non beatae recusandae magnam accusamus odit. Accusantium laboriosam adipisci minima ab hic earum praesentium est.

	p(class="has-text-centered" data-portuguese="&copy; 2017 - Atomicodes | Todos os direitos reservados" data-english="&copy; 2017 - Atomicodes | All rights reserved") &copy; 2017 - Atomicodes | All rights reserved