section#home
	div.container-fluid
		include ./components/logo
		
		ul
			li
				a(href="#home" data-portuguese="Inicio" data-english="Home") Home
			li
				a(href="#who" data-portuguese="Quem somos" data-english="Who we are") Who we are?
			li
				a(href="#portfolio" data-portuguese="Portfolio" data-english="Portfolio") Portfolio
			li
				a(href="#clients" data-portuguese="Clientes" data-english="Clients") Clients
			li
				a(href="#contact" data-portuguese="Contato" data-english="Contact") Contact