section#atomicodes
	div.container
		div.columns
			div.column
				h1(data-portuguese="Atomicodes" data-english="Atomicodes") Atomicodes

		div.columns
			div.column
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, recusandae, possimus. Fuga facilis, sint. Adipisci delectus amet unde aspernatur natus soluta voluptatum provident earum placeat, cumque labore porro. Mollitia, inventore!
				

