section#clients
	div.container
		div.columns
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")

		div.columns
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")
			div.column
				img(src="http://placehold.it/180x60", alt="")