section#home
	div.lego-brick
		include ../components/lego

	h1(data-portuguese="Diga olá para a nova <br><strong>solução</strong> dos seus problemas" data-english="Say hello to your new <br><strong>problem</strong> solver" data-spanish="Saluda a tu nuevo <br><strong>solucionador</strong> de problemas") Say hello to your new <br><strong>problem</strong> solver