section#newsletter
	div.container
		div.columns
			div.column.is-two-thirds
				h2(data-portuguese="Inscreva-se em nossa newsletter <br><small>e receba todas as nossas novidades</small>" data-english="Subscribe to our newsletter <br><small>and receive our latest notifications</small>") Subscribe to our newsletter <br><small>and receive our latest notifications</small>

			div.column
				form.is-pulled-right(action="#")
					div.field.has-addons
						p.control
							span.fa.fa-envelope
						p.control
							input(type="email" class="input" placeholder="Email")
						p.control
							button(type="submit" class="button" data-portuguese="Enviar" data-english="Submit") Submit