/*******************************
	Base
*******************************/
@mixin elementSize($width, $height) {
	width: $width;
	height: $height;
}

@mixin pseudoElement($content, $position, $top, $left) {
	content: $content;
	position: $position;
	top: $top;
	left: $left;
}

@mixin absolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

/*******************************
	Layout
*******************************/
@mixin gradientBackground($dir, $firstProperties, $secondProperties) {
	background: -webkit-linear-gradient($dir, $firstProperties, $secondProperties);
	background: -moz-linear-gradient($dir, $firstProperties, $secondProperties);
	background: linear-gradient($dir, $firstProperties, $secondProperties);
}

@mixin arrowTop($size, $type, $bg) {
	border-left: $size $type transparent;
	border-right: $size $type transparent;
	border-bottom: $size $type $bg;
}

@mixin arrowDown($size, $type, $bg) {
	border-left: $size $type transparent;
	border-right: $size $type transparent;
	border-top: $size $type $bg;
}

@mixin arrowLeft($size, $type, $bg) {
	border-bottom: $size $type transparent;
	border-top: $size $type transparent;
	border-right: $size $type $bg;
}

@mixin arrowRight($size, $type, $bg) {
	border-bottom: $size $type transparent;
	border-top: $size $type transparent;
	border-left: $size $type $bg;
}

/*******************************
	Transition / Transform
*******************************/
@mixin transform($param) {
	-webkit-transform: $param;
	-moz-transform: $param;
	transform: $param;
}

@mixin transition($param) {
	-webkit-transition: $param;
	-moz-transition: $param;
	transition: $param;
}

/*******************************
	Flexbox
*******************************/
@mixin centerHorizontally() {
	display: flex;
	justify-content: center;
}

// Center child elements vertically
@mixin centerVertically() {
	display: flex;
	align-items: center;
}

// Center child elements both Vertically and Horizontally
@mixin centerBoth {
	display: flex;
	justify-content: center;
	align-items: center;
}