div(id="newsletter-success" class="toast toast-success")
	span(class="fa fa-check")
	p(data-portuguese="Seu email foi registrado com sucesso" data-english="Your email has been registered") Your email has been registered

div(id="newsletter-alert" class="toast toast-alert")
	span(class="fa fa-exclamation")
	p(data-portuguese="Favor informar um email válido" data-english="Please provide a valid email address") Please provide a valid email address